$purePrimary: #0078e7;
$pureSuccess: rgb(28, 184, 65); /* this is a green */
$pureError: rgb(202, 60, 60); /* this is a maroon */
$pureWarning: rgb(223, 117, 20); /* this is an orange */
$pureSecondary: rgb(66, 184, 221); /* this is a light blue */

/* Offline.JS Container*/
.offline {
    display: none;
    background: $pureError;
    color: white;
    padding-left: 16px;
}

h1#logo span#statusTitle {
    color: $pureSuccess;
}

div#header h1#logo {
    margin-left: 4%;
}

h1#registerTitle span {
    color: $purePrimary;
}
aside {
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

.aside-success, .aside-error {
    display: none;
    width: 30%;
}

.aside-success {
    background: $pureSuccess;
}

div#metrickey {
    height: 20px;
    background: $pureSuccess;
}

div#statusPageContainer img#companyImage {
    width: 100%;
}

div#metrickeyMissing {
    background: $pureError;
}

div#metrickey, div#metrickeyMissing {
    height: 25px;
    text-align: center;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success, .aside-success {
    background: $pureSuccess;
}

.pure-button-success:hover, .pure-button-primary:hover {
    text-decoration: none;
    color: white;
}

.pure-button-error, .aside-error {
    background: $pureError;
}

.pure-button-warning {
    background: $pureWarning;
}

.pure-button-secondary {
    background: $pureSecondary;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-form .pure-radio {
    display: inline-block;
    margin: .5em 1.5em;
}

div#registerTron, div#loginTron {
    background-color: transparent;
}

hr {
    width: 100%;
}

body {
    background: #f9f9f9;
}

h1#componentTitle, div#componentError {
    display: inline-block;
    width: 75%;
}

button#addComponent, button#addMetrmetricEdit, div#componentEdit, button#newIncident, button#addIncident, a#incidentEdit, a#incidentDelete, a#addMaintenance, div#maintenanceEdit, div#incidentEdit, button#addMember, span.memberType, a#metricEdit, div.has-switch {
    float: right;
}

.operational {
    font-size: 85%;
    color: #2ecc71;
}

.degraded {
    font-size: 85%;
    color: #f1c40f;
}

.partial {
    font-size: 85%;
    color: rgb(230, 126, 34);
}

.major {
    font-size: 85%;
    color: rgb(231, 76, 60);
}

a.componentEdit, a#deleteMetric, div#incidents a#incidentDelete, a#maintenanceUpdate, a#maintenanceDetails, a#maintenancePostmortem, a#maintenanceDelete, div#intervalContainer a, a#changePassword, img#twitterBtn, a#unauthorizeTwitter, ul#std-profile a {
    cursor: pointer;
}

div#intervalContainer {
    float: right;
    font-size: 15pt;
}

fieldset a#deleteMetric {
    float: none;
    margin-top: 0;
}

a#deleteMetric {
    float: right;
    margin-top: 2%;
}

div#incidentHeader {
    background: #333;
    color: white;
    height: 50px;
    padding-left: 2em;
}

div#aboutPage {
    color: white;
    position: relative;
    top: -50px;
    padding: 0 0 0 10px;
    font-size: 24px;
}


h3#metricAverage {
    color: grey;
    float: right;
}

div.incident {
    padding: 30px !important;
}

/* Thanks https://github.com/csarsam */
li:hover .submenu {
    background: #fff;
    border: 1px solid #b7b7b7;
    display: block;
    left: -0.5px;
    top: 32.625px;
    visibility: visible;
}

ul#std-profile .caret {
    margin-left: -20px;
}

div#openIncidentContainer div.page-header h1 {
    float: left;
    line-height: 0em;
}

div#openIncidentContainer div.page-header {
    overflow: auto;
}

div#incidentHeader a {
    float: right;
    height: 100%;
    margin: 0;
}

a#statusPage, a#myProfile {
    float: right;
}

div#statusPageStatus {
    background-color: $pureSuccess;
    padding: 0.4em;
}

div#logoImage p.asideError, div#faviconImage p.asideError {
    color: $pureError;
}

div#statusPageStatus strong {
    color: white;
    display: inline-block;
    margin-left: 2%;
}

div#statusPageStatus div#refreshed {
    color: white;
    float: right;
    margin-top: 1.2em;
    margin-right: 2em;
}

div#openIncidentContainer hr {
    border-top: 1px solid #A3A3A3;
}

.pure-g-r > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#incidentContent {
    padding: 1.5em;
}

div.pure-u-1.l-box {
    border: 1px solid #E0E0E0;
}

div#integrationContainer fieldset {
    border: 0;
}

div.pure-u-1.l-box.component {
    padding: 1.5em;
}

span#componentStatus {
    float: right;
}

ul#uploadOptions li > a {
    cursor: pointer;
}

input#userAutoSubscribe, input#userIndivComponents, input#userIndivIncidents, h2#subscriptionTypes, h2#notificationDeliveryTypes, input#allowEmailSubs, input#allowSMSSubs, input#allowWebSubs, input#yAxisMin, input#yAxisMax, input#hideYAxis, input#xAxisMin, input#xAxisMax, input#hideXAxis, div#metrics h4#metricName, h3#incidentName, h1#metricName, form#editForm input, input#maintenanceStartDate, input#maintenanceStartTime, input#maintenanceEndDate, input#maintenanceEndTime, input#remindSubs, input#setProgress, input#basicLogo, input#coverLogo, div#intervalContainer, h2#systemMetricsTitle, p.memberType, input#noDefault, input#useDefault {
    display: inline-block;
}

div#maintenanceTimes label {
    display: block;
}

div#maintenanceTimes {
    margin-top: 12px;
}

div#maintenanceList {
    margin-top: 2%;
}

div#maintenanceStart, div#maintenanceEnd {
    display: inline-block;
    margin-left: 10px;
}

form#metricForm > div > fieldset:nth-child(2) {
    margin-top: 2%;
    margin-left: 2%;
}

span#eventEdit {
    display: none;
    cursor: pointer;
}

div#memberList {
    margin-top: 55px;
}

form#editForm input:nth-child(1) {
    top: -1px;
}

form#editForm button#updatePrevious {
    margin-right: 8px;
}

div#postMortemMarkdown {
    width: 100%;
    background-color: white;
    height: 315px;
    float: right;
    border: 1px solid black;
    overflow-y: scroll;
}

div#postMortemCreate textarea {
    width: 100%;
}

div#postMortemPreview button#editReport {
    float: right;
}

div#logoImage small, div#faviconImage small, div#aboutPage small {
    display: block;
}

div.fileUpload {
    position: relative;
    overflow: hidden;
}

div.fileUpload input#addLogo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*Modal*/
.modal-backdrop.animation-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
