<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3>Change Password</h3>
  <div class="modal-body">
    <form class="pure-form">
      <fieldset class="pure-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" class="pure-input-1" ng-model="oldPassword" required>
        <label for="newPassword">New Password</label>
        <input type="password" class="pure-input-1" ng-model="newPassword" required>
        <label for="confirmNewPass">Confirm New Password</label>
        <input type="password" class="pure-input-1" ng-model="confirmNewPass" required>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button id="addComponent" class="pure-button pure-button-primary pure-button-xlarge" ng-click="changePassword(oldPassword, newPassword, confirmNewPass)" offline-disabled>Update Password</button>
  </div>
</div>
