<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h3>Add a Component</h3>
			<div class="modal-body">
				<label for="componentName">Component Name</label>
				<input type="text" ng-model="componentName" placeholder="Component Name">
				<label for="description">Description</label>
				<input type="text" ng-model="description" placeholder="Frontend application and API servers">
			</div>
		<div class="modal-footer">
			<button class="pure-button pure-button-xlarge" ng-click="$hide()">Close</button>
			<button id="addComponent" class="pure-button pure-button-primary pure-button-xlarge" ng-click="createComponent()">Create Component</button>
      	</div>
    </div>
</div>