<div ng-include="'partials/navbar'"></div>
<div id="dashContainer" class="container">
	<aside class="aside-success" ng-show="asideSuccess">
    	{{asideSuccess}}
	</aside>
	<aside class="aside-error" ng-show="asideError">
    	{{asideError}}
	</aside>
    <div id="openIncidentContainer" ng-show="openIncidents">
        <div class="page-header">
            <h1>Open Incidents</h1>
            <button type="button" id="newIncident" class="pure-button pure-button-xlarge pure-button-primary" ng-click="newIncident()">New Incident</button>
        </div>
        <div id="incident{{$index + 1}}" class="incident jumbotron" ng-repeat="incident in incidents" ng-show="incident.events[incident.events.length - 1].type !== 'Resolved'">
            <div id="incidentHeader">
                {{incident.name}}
                <a type="button" class="pure-button pure-button-xsmall pure-button-primary" ng-href="/incident/{{incident.id}}">Update Incident</a>
            </div>
            <div id="incidentDate">
                This incident has been open for <strong>{{incident.time}}</strong> and was last updated <strong>{{incident.updated}}</strong>.
            </div>
            <hr>
            <div id="incidentContent" ng-repeat="event in incident.events | orderBy: 'date':true | limitTo:1">
                {{event.type}} - {{event.message}}
                <br>
                <small>{{event.date | date:'medium'}}</small>
            </div>
        </div>
    </div>
	<div id="createIncidentContainer" ng-show="!openIncidents">
        <div ng-include="'partials/newIncident'"></div>
    </div>
    <hr />
    <div class="page-header">
        <h1>Component Statuses</h1>
    </div>
    <div id="componentError">
    	{{componentError}}
	</div>
    <form class="pure-form" ng-repeat="component in components" ng-init="componentValue=component.status">
		<span class="{{componentValue === 'Operational' ? 'operational' : ''}}{{componentValue === 'Degraded Performance' ? 'degraded' : ''}}{{componentValue === 'Partial Outage' ? 'partial' : ''}}{{componentValue === 'Major Outage' ? 'major' : ''}}">{{component.name}}</span>
		<label for="operational" class="pure-radio">
        	<input id="operational" type="radio" name="optionsComponent" value="Operational" ng-model="componentValue" ng-change="updateComponent(component.id, componentValue)"> Operational
        </label>
        <label for="degradedPerformance" class="pure-radio">
        	<input id="degradedPerformance" type="radio" name="optionsComponent" value="Degraded Performance" ng-model="componentValue" ng-change="updateComponent(component.id, componentValue)"> Degraded Performance
        </label>
        <label for="partialOutage" class="pure-radio">
        	<input id="partialOutage" type="radio" name="optionsComponent" value="Partial Outage" ng-model="componentValue" ng-change="updateComponent(component.id, componentValue)"> Partial Outage
        </label>
        <label for="majorOutage" class="pure-radio">
        	<input id="majorOutage" type="radio" name="optionsComponent" value="Major Outage" ng-model="componentValue" ng-change="updateComponent(component.id, componentValue)"> Major Outage
        </label>
        <hr />
    </form>
</div>