<div class="pure-menu pure-menu-open pure-menu-horizontal">
	<a href="#" class="pure-menu-heading"><h1 id="logo"><span id="sysTitle">Sys</span> <span id="statusTitle">Status</span></h1></a>
    <ul>
        <li class="pure-menu-selected"><a href="#">Dashboard</a></li>
        <li><a href="/incidients">Incidents</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/metrics">Public Metrics</a></li>
        <li><a href="/customize">Customize Page</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/team">Team Members</a></li>
        <li><a href="/integration">Integrations</a></li>
    </ul>
</div>
<hr />