<h1>Create an Incident</h1>
<form class="pure-form" ng-init="incidentValue='Investigating'" ng-submit="createIncident(incident, incidentValue, message)">
    <fieldset class="pure-group">
        <label for="incident">Incident Name</label>
        <input type="text" id="incident" class="pure-input-1" placeholder="Incident Name" ng-model="incident" autofocus>
    </fieldset>
        <label for="investigating" class="pure-radio">
            <input id="investigating" type="radio" name="optionsIncident" value="Investigating" ng-model="incidentValue"> Investigating
        </label>
        <label for="identified" class="pure-radio">
            <input id="identified" type="radio" name="optionsIncident" value="Identified" ng-model="incidentValue"> Identified
        </label>
        <label for="monitoring" class="pure-radio">
            <input id="monitoring" type="radio" name="optionsIncident" value="Monitoring" ng-model="incidentValue"> Monitoring
        </label>
        <label for="resolved" class="pure-radio">
            <input id="resolved" type="radio" name="optionsIncident" value="Resolved" ng-model="incidentValue"> Resolved
        </label>
    <fieldset class="pure-group">
        <label for="message">Message</label>
        <textarea id="message" class="pure-input-1" placeholder="Message" ng-model="message" rows="5"></textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-input-1-4 pure-button-primary">Create Incident</button>
</form>