<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h1>Update Incident</h1>
                <div class="modal-body">
                    <form class="pure-form" ng-init="incidentValue='Investigating'">
                            <label for="investigating" class="pure-radio">
                                <input id="investigating" type="radio" name="optionsIncident" value="Investigating" ng-model="incidentValue"> Investigating
                            </label>
                            <label for="identified" class="pure-radio">
                                <input id="identified" type="radio" name="optionsIncident" value="Identified" ng-model="incidentValue"> Identified
                            </label>
                            <label for="monitoring" class="pure-radio">
                                <input id="monitoring" type="radio" name="optionsIncident" value="Monitoring" ng-model="incidentValue"> Monitoring
                            </label>
                            <label for="resolved" class="pure-radio">
                                <input id="resolved" type="radio" name="optionsIncident" value="Resolved" ng-model="incidentValue"> Resolved
                            </label>
                        <fieldset class="pure-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="pure-input-1" placeholder="Message" ng-model="message" rows="5"></textarea>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="updateIncident" class="pure-button pure-button-primary pure-button-xlarge"ng-click="modal.saved=true;updateIncident(incidentValue, message);$hide()">Update Incident</button>
                </div>
            </div>
        </div>
    </div>
</div>