<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3>Add Favicon</h3>
  <div class="modal-body">
    <div class="pure-g-r" id="layoutOptions">
      <div class="pure-group pure-u-1-3">
        <ul class="nav nav-list pure-menu" id="uploadOptions">
          <li ng-class="{'pure-menu-selected': isCompVisible}"><a ng-click="viewComp()">Computer</a></li>
          <li ng-class="{'pure-menu-selected': isLinkVisible}"><a ng-click="viewLink()">Link</a></li>
        </ul>
      </div>
      <div class="pure-group pure-u-1-2" id="logoUpload" ng-show="isCompVisible">
        <form name="editFavForm" id="editFavForm" class="pure-form" enctype="multipart/form-data">
          <label for="favicon">Upload favicon</label>
          <input type="file" name="favicon" id="favicon" file-model="favFile" required>
        </form>
      </div>
      <div class="pure-group pure-u-1-2" id="logoUpload" ng-show="isLinkVisible">
        <form name="editFavURLForm" id="editFavURLForm" class="pure-form" enctype="multipart/form-data">
          <label for="favURL">URL to favicon</label>
          <input type="url" name="favURL" id="favURL" class="pure-input-1" required placeholder="http://example.com/favicon.ico" autofocus ng-model="favURL">
        </form>
      </div>
  </div>
  <div class="modal-footer">
    <button id="addFav" type="submit" class="pure-button pure-button-primary pure-button-xlarge" ng-click="uploadLogo(editFavForm, editFavURLForm, favFile, favURL)" offline-disabled>Add Favicon</button>
  </div>
</div>