<div ng-include="'partials/navbar'"></div>
<div id="customizeContainer" class="container">
  <aside class="aside-success" ng-show="asideSuccess">
    {{asideSuccess}}
  </aside>
  <aside class="aside-error" ng-show="asideError">
    {{asideError}}
  </aside>
  <h2>Customize Page</h2>
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li class="pure-menu-selected"><a ng-href="/customize">Layout &amp; Design</a></li>
      <li><a ng-href="/customize/url">URL</a></li>
      <li><a ng-href="/customize/code">Custom Code</a></li>
    </ul>
  </div>
  <form class="pure-form pure-form-aligned">
    <div class="pure-g-r" id="layoutOptions">
      <div class="pure-group pure-u-1-2">
        <img src="//placehold.it/540x400" alt="Placeholder" ng-show="!customData.logo">
        <img ng-src="{{customData.logo}}" alt="Logo Image" ng-show="customData.logo">
        <label for="basicLogo" class="pure-radio"><input type="radio" name="layoutType" ng-model="customData.layoutType" id="basicLogo" value="basic">Basic Logo</label>
        <small>Basic layout with small logo.</small>
      </div>
      <div class="pure-group pure-u-1-2">
        <img src="//placehold.it/540x400" alt="Placeholder" ng-show="!customData.cover">
        <img ng-src="{{customData.cover}}" alt="Cover Image" ng-show="customData.cover">
        <label for="coverLogo" class="pure-radio"><input type="radio" name="layoutType" ng-model="customData.layoutType" id="coverLogo" value="cover">Cover Image</label>
        <small>Nice big cover image.</small>
      </div>
      <fieldset class="pure-group pure-u-1-2">
      <label for="bodyBackground">Body Background Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="bodyBackground" ng-model="customData.bodyBackground" ng-init="customData.bodyBackground = 'ffffff'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.bodyBackground}};"></div>
        <small>Background color of the status page.</small>
      </div>
      <label for="fontColor">Font Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="fontColor" ng-model="customData.fontColor" ng-init="customData.fontColor = '000000'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.fontColor}};"></div>
        <small>Main font color of the status page.</small>
      </div>
      <label for="lightFontColor">Light Font Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="lightFontColor" ng-model="customData.lightFontColor" ng-init="customData.lightFontColor = 'AAAAAA'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.lightFontColor}};"></div>
        <small>Secondary font color of status page.</small>
      </div>
      <label for="greenColor">Green Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="greenColor" ng-model="customData.greenColor" ng-init="customData.greenColor = '1CB841'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.greenColor}};"></div>
        <small>Green color for all systems are operational.</small>
      </div>
      <label for="yellowColor">Yellow Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="yellowColor" ng-model="customData.yellowColor" ng-init="customData.yellowColor = 'F1C40F'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.yellowColor}};"></div>
        <small>Yellow color for degraded performance.</small>
      </div>
      <label for="orangeColor">Orange Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="orangeColor" ng-model="customData.orangeColor" ng-init="customData.orangeColor = 'E67E22'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.orangeColor}};"></div>
        <small>Orange color for partial outages.</small>
      </div>
      <label for="redColor">Red Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="redColor" ng-model="customData.redColor" ng-init="customData.redColor = 'E74C3C'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.redColor}};"></div>
        <small>Red color for full outages.</small>
      </div>
      <label for="linkColor">Link Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="linkColor" ng-model="customData.linkColor" ng-init="customData.linkColor = '0078E7'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.linkColor}};"></div>
        <small>Used for links and buttons.</small>
      </div>
      <label for="borderColor">Border Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="borderColor" ng-model="customData.borderColor" ng-init="customData.borderColor = 'E0E0E0'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.borderColor}};"></div>
        <small>Border around components and metrics.</small>
      </div>
      <label for="graphColor">Graph Color</label>
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input type="text" id="graphColor" ng-model="customData.graphColor" ng-init="customData.graphColor = '0078E7'" class="pure-input-1-2">
        <div id="colorViewer" style="background-color:#{{customData.graphColor}};"></div>
        <small>Graph color for metrics.</small>
      </div>
    </fieldset>
    <fieldset class="pure-group pure-u-1-2">
      <div class="pure-u-1" ng-show="customData.layoutType === 'basic'">
        <div id="logoImage">
          <h4>Logo images add branding to the status page.</h4>
          <div class="pure-button pure-input-1-3 pure-button-primary" ng-click="addLogoModal()"><span>Add Logo Image</span></div>
          <small>Rectangular images work best.</small>
        </div>
      </div>
      <div class="pure-u-1" ng-show="customData.layoutType === 'cover'">
        <div id="coverImage">
          <h4>Cover images are super stylish!</h4>
          <p ng-show="coverError" class="asideError customize-error">{{coverError}}</p>
          <div class="pure-button pure-input-1-3 pure-button-primary" ng-click="addCoverModal()"><span>Add Cover Image</span></div>
          <small>Rectangular images work best.</small>
        </div>
      </div>
      <div class="pure-u-1">
        <div id="faviconImage">
          <h4>Upload a favicon image that will be used on the status page.</h4>
          <p ng-show="favError" class="asideError customize-error">{{favError}}</p>
          <span class="pure-button pure-input-1-3 pure-button-primary" ng-click="addFavModal()">Add Favicon Image</span>
          <small>Favicons usually should be 32x32 pixels.</small>
        </div>
      </div>
      <div class="pure-u-1" id="headline">
        <input type="text" ng-model="customData.headline" id="headline" placeholder="{{siteName}}" class="pure-u-1-2">
        <small>Text that shows at the top of the status page.</small>
      </div>
      <div class="pure-u-1" id="aboutPage">
        <textarea type="text" ng-model="customData.aboutPage" id="aboutPage" placeholder="Welcome to {{siteName}}'s status page..." class="pure-u-1" rows="5"></textarea>
        <small>Optional text that is shown at the top of the status page.</small>
      </div>
      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary pure-button-xlarge" ng-click="saveDesign()">Save All Changes</button>
    </fieldset>
    </div>
  </form>
</div>