<div ng-include="'partials/navbar'"></div>
<div id="teamMemberContainer">
  <aside class="aside-success" ng-show="asideSuccess">
      {{asideSuccess}}
  </aside>
  <aside class="aside-error" ng-show="asideError">
      {{asideError}}
  </aside>
  <h2>Team Members</h2>
  <button id="addMember" class="pure-button pure-button-primary pure-button-xlarge" ng-click="addMember()">Add Team Member</button>
  <br />
  <div ng-repeat="member in members" id="memberList">
    <p>
      <span ng-show="member.firstName">{{member.firstName}}</span> <span ng-show="member.lastName">{{member.lastName}}</span> <span ng-show="member.firstName || member.lastName">-</span>
      <b>{{member.email}}</b>
      <span ng-show="!member.isOwner" class="memberType"><a ng-click="deleteMemberReq(member._id)">Delete</a></span>
      <span ng-show="member.isOwner" class="memberType">Site Owner</span>
      <span ng-show="!member.isOwner" class="memberType">Site Member</span>
    </p>
    <hr />
  </div>
</div>